<html xmlns:th="http://www.thymeleaf.org">
<body>
<p>Edit a hero:</p>
<form th:action="@{/heroes/{id}(id=${hero.id})}">
    <table>
        <tr>
            <td th:text="${hero.id}"></td>
            <td th:text="${hero.name}"></td>
            <td th:text="${hero.gender}"></td>
            <td th:text="${hero.eyeColor}"></td>
            <td th:text="${hero.race}"></td>
            <td th:text="${hero.hairColor}"></td>
            <td th:text="${hero.height}"></td>
            <td th:text="${hero.publisher}"></td>
            <td th:text="${hero.skinColor}"></td>
            <td th:text="${hero.alignment}"></td>
            <td th:text="${hero.weight}"></td>
        </tr>
    </table>

</form>
</body>
</html>